@model Ecommerce.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}


<h1 style="margin-bottom: 30px;">@Model.Title</h1>

<div class="parent">
    <div class="image">
        <img src="@Model.ImageURL" alt="" />
    </div>
    <div class="detailprod">
        <hr />
        <dl class="row">
            <dd class="col-sm-12 description">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.publishedAt)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.publishedAt)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Phone)
            </dd>

        </dl>
    </div>
</div>


@if (!string.IsNullOrEmpty(User.Identity.Name))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
<style>
    .image {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 50%;
        float: right;
    }
    img{
        display: block;
        max-height: 400px;
        width:90%;
    }
    .detailprod {
        display: flex;
        justify-content: space-between;
        width: 50%;
        float: left
    }

    .description {
        text-align: justify;
    }

    .parent {
        display: table; /* always use when using float in child div */
    }
</style>