
@using Ecommerce.ViewModels;


@model ProductViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

    .container {
        height: auto;
        margin-inline: auto;
    }
</style>


<div class="container">
   
        <div>
            <img src="@Model.ImageURL" alt=" " />
        </div>

        <div>
            <h1>@Model.Title </h1><br>
            <p><b>Product description:</b> @Model.Description </p>
            <p><b>Price: </b> @Model.Price </p>
            <p><b>Quantity:</b> @Model.Quantity  </p>
            <p><b>Created at: </b>@Model.CreatedAt </p>
            <p><b>Published at:</b> @Model.publishedAt  </p>

        </div>
    
</div>